//Colors
$color1: #222328; //Dark-dark grey
$color2: #138CDD; //Blue
$color3: #FE5339; //Red
$color4: #3A405A; //Plum
$color5: #6E7484; //grey
$color6: #F1F2F7; //light grey
$color7: #868CA6; //light-plum  
$white: #FFFFFF; //Whiet
