.bid{
	
}

.bid__form{
	
}

.bid__group-elements{
	@include make-row();
}

.bid [class*="wrapper"]{
	//outline: 1px solid royalblue;
}


.bid__i-need-wrapper{
	@include make-lg-column(4);
	@include make-lg-column-offset(1);
}

.bid__form-element-style{
	display: block;
	position: relative;
	padding: 10px 10px;
	width: 100%;
	background: $color6;
	border: 1px solid $color8;
	border-radius: 4px;
	color: $color4;
	font-weight: bold;
	font-size: 14px;
	
	&::-moz-placeholder{
		color: lighten($color4, 22%);
	}
	&::-webkit-input-placeholder{
		color: lighten($color4, 22%);
	}
	&::-ms-input-placeholder{
		ccolor: lighten($color4, 22%);
	}

	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	&:focus{
		width: calc(100% - 2px);
		padding: 9px;
		outline: none;
		box-sizing: border-box;
		border: 2px solid $color3;	
		transition: padding 0s, border 0s;
	}

	&--with-arrow{
		background-image: url('../img/icons/down-chevron-plum.png');
		background-position: calc(100% - 10px) center;
		background-repeat: no-repeat;
		background-size: 10px;
		
	}

	&--big-part-l{
		float: left;
		width: 60%;
		border-right: none;
		border-radius: 4px 0 0 4px;

		&::-moz-placeholder{
			color: darken($color4, 70%);
		}
		&::-webkit-input-placeholder{
			color: $color4;
		}
		&::-ms-input-placeholder{
			color: $color4;
		}
		&::input-placeholder{
			color: $color4;
		}

		&:focus{
			padding: 10px;
			border: 1px solid $color8;
			border-right: none;
			width: 60%;
		}

		background-image: url('../img/icons/down-chevron-plum.png'),
		url('../img/icons/vertical-line.png');
		background-position: calc(100% - 15px) center, right center;
		background-repeat: no-repeat;
		background-size: 10px;

		
	}

	
	

	&--small-part-r{
		float: right;
		width: 40%;
		position: relative;
		border-left: none;
		border-radius: 0 4px 4px 0;
		padding: 10px;
		padding-bottom: 8px;



		&:focus{
			padding: 10px;
			border: 1px solid $color8;
			border-left: none;
			width: 40%;
			padding-bottom: 8px;
		}

		&::-webkit-clear-button {
			display: none;
		}
		
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button{ 
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			margin: 0; 
		}

		  appearance: none;
		  -moz-appearance: none;
		  -webkit-appearance: none;

		&::-webkit-datetime-edit-ampm-field {
			display: none;
		}
	}
}


.bid__pseudo-placeholder{
	display: block;
	background: $color6;
	width: calc(40% - 15px);
	position: absolute;
	bottom: 5px;
	left: 60%;}


.bid__category-wrapper{
	@include make-lg-column(3);
}

.bid__sub-category-wrapper{
	@include make-lg-column(3);
}

.bid__description-wrapper{
	@include make-lg-column(7);
	@include make-lg-column-offset(1);
}

.bid__dragfile-area-wrapper{
	@include make-lg-column(3);
}

.bid__budget-wrapper{
	@include make-lg-column(2);
	@include make-lg-column-offset(1);
}

.bid__treaty-wrapper{
	@include make-lg-column(2);
}

.bid__period-wrapper{
	@include make-lg-column(2);
}

.bid__start-wrapper{
	@include make-lg-column(2);
	@include clearfix();
}

.bid__finish-wrapper{
	@include make-lg-column(2);
	@include clearfix();
}


.bid__index-wrapper{
	@include make-lg-column(2);
	@include make-lg-column-offset(1);
}

.bid__city-wrapper{
	@include make-lg-column(3);
}

.bid__address-wrapper{
	@include make-lg-column(5);
}

.bid__contacts-title{
	@include make-lg-column(10);
	@include make-lg-column-offset(1);
}

.bid__name-wrapper{
	@include make-lg-column(4);
	@include make-lg-column-offset(1);
}

.bid__phone-wrapper{
	@include make-lg-column(3);
}

.bid__email-wrapper{
	@include make-lg-column(3);
}


.bid__agreement-wrapper{
	@include make-lg-column(4);
	@include make-lg-column-offset(1);
}

.bid__submit-button-wrapper{
	@include make-lg-column(3);
}


.bid__input-label{
	display: block;
	margin-top: 50px;
	margin-bottom: 10px;
	font-size: 14px;
	color: $color9;
}

.bud__description-textarea{
	min-height: 250px;
	resize: none;
}


.bid__dragfile-area{
	min-height: 250px;

	border: $color6 dashed 4px;
	border-radius: 10px;
}

.bid__dragfile-text{
	margin: 0;
	margin-top: 70px;
	text-align: center;
	font-size: 15px;
	font-family: 'Uni Neue Heavy';

	span{
		margin-top: 5px;
		display: block;
		font-size: 13px;
		font-family: 'Uni Neue Book';
		line-height: 140%;

	}
}



.bid__files-upload{
	display: none !important;
}
.bid__files-upload-pseudo{
	font-family: 'Uni Neue Heavy';
	cursor: pointer;
	color: $color2;
}



.bid__contacts-title{
	margin-top: 50px;
	font-size: 17px;
	font-family: 'Uni Neue Heavy';
}