.rubric-jumbotron{
	background: url("../img/bg/jb-sm-bg.jpg")
		no-repeat
		center;
		background-size: cover;
}


.rubric-jumbotron__title{
	margin-top: 90px;
	font-size: 30px;
	font-family: 'Uni Neue Heavy';
	text-align: center;
	color: $color4;
}

.rubric-jumbotron__subtitle{
	margin-top: 20px;
	margin-bottom: 90px;
	display: block;
	text-align: center;
	font-weight: normal;
	font-size: 17px;
	color: $color7;
}