.user-block{
  float: right;
}

.user-block__change-lang{
  display: inline-block;
  margin-top: 28px;
  margin-right: 20px;
  color: #B9BED2;

}

.user-block__lang-item{
  padding: 0;
  background: none;
  border: none;
  
  &--active{
    color: #FFFFFF;
  }
}

@media (max-width: $screen-lg-min - 1) {
  .user-block{
    clear: both;
    display: block;
    margin-top: 20px;
    margin-bottom: 35px;
    float: none;
    text-align: center;
  }


  .user-block__change-lang{
    margin-right: 50px;
  }
}


